/* recipe create parent */
.RecipeCreateParent {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 90;
    overflow: hidden;
}
/* recipe create container */
.RecipeCreateContainer {
    position: relative;
    width: clamp(200px, 100%, 1200px);
    box-shadow: 0 0 20em var(--greydark-color);
    background-color: var(--white-color);
    overflow-y: scroll;
}
/* recipe create sidebar */
.RecipeCreateSidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    top: 0;
    height: 100%;
    width: clamp(50px, 60%, 250px);
    box-shadow: 0 0 0.5em var(--greydark-color);
    background-color: var(--appmain-color);
    z-index: 2;
    overflow-y: scroll;
    transition: width 0.2s ease;
}
    /* hide sidebar */
    .HideSidebar {
        width: 2.5em;
    }
        /* hide text */
        .HideSidebar > div > h1 {
            height: 0;
            visibility: hidden;
        }
        /* rotate open icon */
        .HideSidebar > div:first-child > img {
            transform: rotate(180deg);
        }
    /* container with image and text */
    .RecipeCreateSidebar > div {
        display: flex;
        justify-content: flex-start;
        gap: 1em;
        width: 100%;
        padding: 1em 0.5em 1em 0.5em;
        box-sizing: border-box;
        color: var(--white-color);
        cursor: pointer;
    }
        /* active div */
        .ActiveDiv {
            background-color: var(--appmainli-color);
        }
        /* exit container */
        .RecipeCreateSidebar > div:last-child {
            padding-top: 4em;
        }
    /* open button */
    .RecipeCreateSidebar > div:first-child > img {
        margin-left: auto;
        height: 25px;
        width: 25px;
        cursor: pointer;
    }
    /* other icons */
    .RecipeCreateSidebar > div:nth-child(n + 2) > img {
        height: 25px;
        width: 25px;
        cursor: pointer;
    }
    /* text */
    .RecipeCreateSidebar > div > h1 {
        padding: 0.2em;
        padding-top: 0;
        font-size: 1.1rem;
        font-weight: 700;
    }
/* recipe create top container */
.RecipeCreateInputParent {
    display: flex;
    align-items: center;
    margin-left: 3em;
}

/* media query for big screens */
@media only screen and (min-width:1000px){
    /* adjust input parent margin */
    .RecipeCreateInputParent {
        display: flex;
        align-items: center;
        width: clamp(200px, 100%, 800px);
        margin: 0 auto 0 200px;
    }
    /* hide sidebar bigger on desktop */
    .HideSidebar {
        width: 4em;
    }
        /* container with image and text */
        .RecipeCreateSidebar > div {
            padding: 1em 1.5em 1em 1.2em;
        }
}