/* parent */
.RecipesContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: clamp(200px, 100%, 800px);
    margin: 0 auto 0 auto;
    padding: 0.5em;
    padding-bottom: 2em;
    box-sizing: border-box;
    overflow: hidden;
}
    /* loading svg */
    .RecipesContainer > svg {
        align-self: center;
    }
/* recipe item */
.RecipeItem {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.5em 1em var(--greyli-color);
    cursor: pointer;
}
    /* first child */
    .RecipeItem > div:first-child {
        display: flex;
        flex-direction: row;
    }
        /* first child image */
        .RecipeItem > div:first-child > div:first-child > img {
            height: 100%;
            width: 125px;
            aspect-ratio: 1 / 1;
            object-fit: cover;
        }
        /* text container */
        .RecipeItem > div:first-child > div:last-child {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0.5em;
        }
            /* first child title */
            .RecipeItem > div:first-child > div > h1 {
                font-weight: 700;
                font-size: 1.2rem;
                color: var(--greydark-color);
                padding: 0.1em;
                overflow: hidden;
                overflow-wrap: break-word;
            }
            /* first child course */
            .RecipeItem > div:first-child > div > h2 {
                font-size: 1rem;
                color: var(--greydark-color);
                padding: 0.1em;
                overflow: hidden;
                overflow-wrap: break-word;
            }
            /* first child edit button */
            .RecipeItem > div:first-child > div > img {
                height: 30px;
                width: 30px;
                margin-top: auto;
                margin-left: auto;
            }