/* toggle container */
.DashboardToggle {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 1em;
    font-weight: 700;
    font-size: 1.3rem;
    color: var(--greydark-color);
    cursor: pointer;
}
    .DashboardToggle > img {
        height: 20px;
        width: 20px;
        transform:rotate(270deg) ;
        transition: transform 0.3s ease;
    }
/* content container */
.DashboardParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--appmain-color);
}
/* content container */
.DashboardContent {
    display: flex;
    flex-direction: column;
    padding: 1em;
    box-sizing: border-box;
    width: clamp(200px, 100%, 1400px);
    color: var(--white-color);
    overflow: hidden;
}
    /* content container h1 */
    .DashboardContent > h1 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-top: 1em;
    }
        /* content container h2 */
        .DashboardContent > h2 {
            font-size: 1.2rem;
            margin-top: 1em;
        }
/* links container */
.DashboardLinks {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0.5em;
    width: clamp(100px, 100%, 600px);
    margin-top: 2em;
    padding: 1em;
    overflow-x: scroll;
}
    .DashboardLinks > a {
        padding: 2em 1em 2em 1em;
        text-align: center;
        font-weight: 700;
        background-color: rgba(255, 255, 255, 0.3);
    }
    .DashboardLinks > a:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }
/* meal container */
.DashboardMeal {
    align-self: center;
    width: clamp(200px, 100%, 1300px);
}
    .DashboardMeal > h1 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-top: 1em;
    }  
        .DashboardMeal > h2 {
            font-size: 1.2rem;
            margin-top: 1em;
        }  
/* meal container link (meal) */
.DashboardMeal > a {
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    margin-top: 1em;
    padding: 1em;
    box-sizing: border-box;
    overflow-x: scroll;
    background-color: rgba(255, 255, 255, 0.3);
}
    /* meal container img */
    .DashboardMeal > a > img {
        height: 100%;
        width: clamp(100px, 40%, 200px);
    }
    /* meal container h1 */
    .DashboardMeal > a > h1 {
        font-size: 1.3rem;
        font-weight: 700;
    }