/* calendar parent */
.MealCalendarParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    padding-top: 1em;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0.5em 0.5em var(--greyli-color);
    background-color: var(--appmain-color);
    overflow: hidden;
}
    /* greeting */
    .MealCalendarParent > h1 {
        align-self: flex-start;
        font-weight: 700;
        font-size: 2rem;
        color: var(--white-color);
    }
    /* date */
    .MealCalendarParent > h2 {
        align-self: flex-start;
        margin-top: 1em;
        font-size: 1.5rem;
        color: var(--white-color);
    }
/* icon container */
.MealCalendarTimes {
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: clamp(200px, 100%, 800px);
    margin-top: 0.5em;
    overflow-x: scroll;
}
    /* item */
    .MealCalendarTimes > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 100px;
        width: 100%;
        margin-top: 0.5em;
        padding: 1em;
        border-radius: 10px;
        box-sizing: border-box;
        background-color: rgba(252, 245, 240, 0.1);
        cursor: pointer;
        transition: background-color 0.5s ease;
    }
        /* hover */
        .MealCalendarTimes > div:hover {
            background-color: rgba(252, 245, 240, 0.4);
            transition: all 0.3s ease;
        }
        /* active */
        .MealCalendarTimes > div.Active {
            background-color: rgba(255, 255, 255, 0.5);
            transition: all 0.3s ease;
        }
        /* time */
        .MealCalendarTimes > div > h1 {
            margin-top: 0.5em;
            font-weight: 700;
            font-size: 1.1rem;
            color: var(--white-color);
        }
        /* image */
        .MealCalendarTimes > div > img {
            height: 40px;
            width: 40px;
        }
/* meal calendar item */
.MealCalendarItem {
    display: flex;
    align-items: flex-start;
    margin-top: 1em;
    width: clamp(200px, 100%, 800px);
    font-weight: 700;
    color: var(--greydark-color);
    border-radius: 10px;
    background-color: rgba(252, 245, 240, 0.6);
}
    /* recipe item */
    .MealCalendarItem > h1 {
        align-self: center;
        padding: 1em;
        font-size: 1.3rem;
        box-sizing: border-box;
        overflow: hidden;
        overflow-wrap: break-word;
    }
    /* recipe link */
    .MealCalendarItem > img {
        height: 100%;
        width: clamp(100px, 30%, 200px);
        border-radius: 10px 0 0 10px;
    }