/* search container */
.SearchForm {
    position: relative;
    display: flex;
    flex-direction: column;
    width: clamp(200px, 100%, 700px);
    margin: 0 auto 0 auto;
    padding: 1em;
    box-sizing: border-box;
    color: var(--white-color);
}
    /* search bar container */
    .SearchBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 1em;
        box-sizing: border-box;
        border: 1px solid var(--greyli-color);
    }
    .SearchBar > input {
        width: 100%;
        border: 0;
        font-size: 1.2rem;
        font-family: 'Roboto', sans-serif;
    }
        .SearchBar > input:focus {
            outline: none !important;
        }
    /* search img */
    .SearchBar > img {
        height: 20px;
        width: 20px;
        transform: rotate(-90deg);
        cursor: pointer;
    }
/* search result container */
.SearchResult {
    position: absolute;
    top: 4em;
    left: 1em;
    right: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    padding-top: 2em;
    box-sizing: border-box;
    color: var(--greydark-color);
    border: 1px solid var(--greyli-color);
    border-top: 0;
    background-color: var(--white-color);
    overflow: hidden;
}
    /* search img */
    .SearchResult > img {
        height: 25px;
        width: 25px;
        transform: rotate(180deg);
        cursor: pointer;
    }
    /* search link */
    .SearchResult > a {
        overflow: hidden;
        overflow-wrap: break-word;
    }