.FormParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:  1em 2.5em 4em 2.5em;
    box-sizing: border-box;
    overflow-y: scroll;
}
    /* form error */
    .FormError {
        align-self: flex-start;
        display: flex;
        width: 100%;
        padding: 1em 0.5em 1em 0.5em;
        font-size: 0.9rem;
        color: var(--red-color-dark);
        background-color: var(--red-color-li);
    }
        .FormError > span {
            margin: auto 0 auto auto;
            cursor: pointer;
        }
    /* inputs */
    .FormParent > input {
        width: 100%;
        padding: 0.5em;
        border-radius: 4px;
        border: 1px solid var(--white-color-dark);
        color: var(--black-color-li);
    }
        .FormParent > input:focus {
            outline: none !important;
            border: 2px solid var(--appmain-color-med);
        }
        /* form input error */
        .FormInputError {
            align-self: flex-start;
            margin-top: 0.5em;
            font-size: 0.9rem;
            color: var(--red-color-med);
        }
    /* label */
    .FormParent > label {
        width: 100%;
        margin-top: 1.5em;
        margin-bottom: 0.2em;
        color: var(--appmain-color-dark);
    }
    /* forgot password link */
    .LinkForgotPassword {
        align-self: flex-end;
        margin-top: 0.5em;
        font-size: 0.9rem;
        color: var(--black-color-li);
    }
    /* submit button */
    .FormParent > button[type='submit'] {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 1.5em;
        padding: 0.5em;
        border: 0;
        border-radius: 4px;
        font-weight: 700;
        font-size: 1.2rem;
        color: var(--white-color-li);
        background-color: var(--appmain-color-med);
        cursor: pointer;
    }
    /* form text for signup link */
    .FormText {
        align-self: center;
        margin-top: 20%;
        font-weight: 400;
        font-size: 1rem;
        color: var(--black-color-li);
    }
    /* make account link */
    .LinkMakeAccount {
        align-self: center;
        margin-top: 1em;
        font-weight: 700;
        font-size: 1.2rem;
        color: var(--black-color-med);
        cursor: pointer;
    }