/* homepage parent */
.HomepageParent {
    min-height: 100vh;
    width: clamp(200px, 100%, 1400px);
    margin: 0 auto 0 auto;
    border: 1px solid var(--greyli-color);
    border-top: 0;
    box-sizing: border-box;
    overflow: hidden;
}