/* homepage parent */
.HomepageParent {
    min-height: 100vh;
    width: clamp(200px, 94%, 1200px);
    margin: 0 auto 0 auto;
    box-sizing: border-box;
    overflow: hidden;
}
    /* headers */
    .HomepageParent > h1 {
        margin-top: 2em;
        font-size: 1.4rem;
        font-weight: 700;
        color: var(--black-color);
    }
/* recipe search bar */
.RecipeSearchBar {
    position: relative;
    display: flex;
    align-items: center;
    width: clamp(200px, 100%, 600px);
    margin: 1em auto 1em auto;
    padding: 0.8em 1em 0.8em 1em;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: var(--whitemed-color);
}
    /* image */
    .RecipeSearchBar > img {
        height: 15px;
        width: 15px;
        transform: rotate(-90deg);
    }
    /* text input */
    .RecipeSearchBar > input {
        width: 100%;
        padding-right: 1em;
        font-size: 1rem;
        color: var(--black-color);
        background: none;
        border: 0;
    }
        .RecipeSearchBar > input:focus {
            outline: none !important;
        }