/* Popup Parent */
.PopupParent {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(35, 43, 52, 0.4);
    z-index: 99;
}
/* Popup Child */
.PopupChild {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    width: clamp(150px, 90%, 600px);
    padding: 2em 1em 2em 1em;
    box-sizing: border-box;
    box-shadow: 0 0 1em var(--greydark-color);
    background-color: var(--white-color);
}
    /* Popup Child title */
    .PopupChild > h1 {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--black-color);
    }
    /* Popup Child message */
    .PopupChild > h2 {
        margin-top: 1em;
        text-align: center;
        font-size: 1.3rem;
        color: var(--black-color);
    }
/* Popup Button */
.PopupButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    margin-top: 3em;
    background-color: var(--white-color);
}
    /* Popup Button */
    .PopupButtons > button {
        width: 40%;
        padding: 0.7em;
        font-size: 1.1rem;
        font-weight: 700;
        background-color: var(--whitemed-color);
    }
    /* Popup Button confirm */
    .PopupButtons > button:last-child {
        color: var(--white-color);
        background-color: var(--blueli-color);
    }