.VerifyAccountParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
    height: 100%;
    width: clamp(200px, 100%, 600px);
    margin: 0 auto 0 auto;

    border: 1px solid var(--greyli-color);
    box-shadow: 0 0 1em var(--greyli-color);
    overflow-y: scroll;
}
    .VerifyAccountParent > svg {
        margin-top: 4em;
        transform: scale(80%);
    }
    .VerifyAccountParent > h1 {
        padding: 1em;
        text-align: center;
        font-weight: 700;
        font-size: 1.8rem;
        color: var(--greydark-color);
    }
    .VerifyAccountParent > a {
        width: 96%;
        margin-bottom: 2em;
        padding: 1em;
        box-sizing: border-box;
        text-align: center;
        font-weight: 700;
        background-color: var(--blueli-color);
        color: var(--white-color);
        border: 1px solid var(--greyli-color);
        cursor: pointer;
    }