/* parent */
.PopupParent {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
    overflow: hidden;
}
/* child container */
.PopupChildContainer {
    width: clamp(200px, 100%, 800px);
    margin: 0.5em 0.2em 1em 0.2em;
    padding: 1em;
    border-radius: 4px;
    background-color: var(--white-color-liest);
    overflow-y: scroll;
}
    /* child container exit container */
    .PopupExitContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* child container header */
    .PopupExitContainer > h1 {
        font-size: 1.4rem;
        color: var(--black-color-med);
    }
    /* child container exit icon */
    .PopupExitContainer > img {
        height: 30px;
        width: 30px;
        transform: rotate(45deg);
    }
/* input form container */
.FormParent {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em 0 1em 0;
}
    /* input form container */
    .FormParent > h1 {
        margin-top: 1em;
        text-align: center;
        font-weight: 400;
        font-size: 0.9rem;
        color: var(--black-color-li);
    }
    /* form input row */
    .FormInputRow {
        display: flex;
        align-items: center;
        gap: 0.5em;
    }
        /* form input row */
        .FormInputRow > button {
            border: 0;
            background: none;
            cursor: pointer;
        }
            /* form input row icon */
            .FormInputRow > button > img {
                height: 25px;
                width: 25px;
            }
    /* inputs */
    .FormParent select, .FormParent textarea {
        width: 100%;
        padding: 0.5em;
        border-radius: 4px;
        border: 1px solid var(--white-color-dark);
        color: var(--black-color-li);
        background-color: var(--white-color-li);
        resize: none;
    }
    /* label */
    .FormParent label {
        width: 100%;
        margin-top: 1.5em;
        margin-bottom: 0.2em;
        color: var(--appmain-color-dark);
    }
    /* form input error */
    .FormInputError {
        align-self: flex-start;
        margin-top: 0.5em;
        font-size: 0.9rem;
        color: var(--red-color-med);
    }
    /* tag container */
    .FormTagInputContainer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0.5em;
        border-radius: 4px;
        border: 1px solid var(--white-color-dark);
        color: var(--black-color-li);
        background-color: var(--white-color-li);
    }
        .FormTagInputContainer > input {
            width: 100%;
            border: 0;
            background: none;
        }
        .FormTagInputContainer > input:focus {
            outline: none !important;
        }
        /* add button */
        .FormTagInputContainer > button {
            border: 0;
            background: none;
            cursor: pointer;
        }
            /* add button icon */
            .FormTagInputContainer > button > img {
                height: 25px;
                width: 25px;
            }
        /* form chosen tag */
        .FormChosenTag {
            width: fit-content;
            padding: 0.3em 0.6em 0.3em 0.6em;
            border-radius: 4px;
            background-color: var(--appmain-color-li);
        }
            /* form chosen tag x */
            .FormChosenTag > span {
                margin-right: 0.6em;
                color: var(--appmain-color-dark);
            }
    /* save button */
    .SaveButton {
        margin-top: 2em;
        padding: 0.5em;
        font-size: 1.2rem;
        border: 0;
        border-radius: 4px;
        background-color: var(--appmain-color-med);
        cursor: pointer;
    }