/* login form parent */
.FormParent {
    display: flex;
    justify-content: center;
    height: 100%;
    width: clamp(200px, 100%, 600px);
    margin: 0 auto 0 auto;
}

/* login form */
.FormStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1.5em;
    border: 1px solid var(--greyli-color);
    box-shadow: 0 0 1em var(--greyli-color);
    overflow-y: scroll;
}
    .FormStyle::-webkit-scrollbar {
        display: none;
    }
    .FormStyle > h1 {
        align-self: flex-start;
        padding: 0.5em 0 1em 0;
        font-weight: 700;
        font-size: 2rem;
        color: var(--greydark-color);
    }
    .FormStyle > h2 {
        text-align: center;
        align-self: flex-end;
        padding: 0.3em;
        font-weight: 700;
        color: var(--red-color);
        transform: translate(0px, -20px);
        overflow-wrap: break-word;
    }
    .FormStyle > h3 {
        align-self: flex-start;
        text-align: center;
        padding: 0.3em;
        font-weight: 700;
        overflow-wrap: break-word;
    }
        /* error text */
        .Error {
            color: var(--red-color);
        }
        /* success text */
        .Success {
            color: var(--green-color);
        }
    .FormStyle > input {
        width: 100%;
        padding: 1em 1em 0.8em 1em;
        box-sizing: border-box;
        font-size: 1.2rem;
        border: 1px solid var(--greyli-color);
        font-family: 'Roboto', sans-serif;
    }
    .FormStyle > label {
        visibility: hidden;
        align-self: flex-start;
        padding: 0.3em;
        color: var(--greymed-color);
        background-color: var(--white-color);
        transform: translate(12px, -42px);
    }
        .FormStyle > input::placeholder {
            opacity: 1;
            position: relative;
            font-size: 1rem;
            color: var(--greymed-color);
        }
        .FormStyle > input:focus {
            outline: none !important;
            border: 1px solid var(--blueli-color);
        }
        .FormStyle > input:focus::placeholder {
            opacity: 0;
        }
        .FormStyle > input:focus + label {
            visibility: visible;
            color: var(--blueli-color);
            transform: translate(8px, -76px);
            transition: transform 0.2s ease-out;
        }
        .FormStyle > input:not(:placeholder-shown) + label {
            visibility: visible;
            color: var(--greymed-color);
            transform: translate(8px, -76px);
          }
    .FormStyle > a {
        width: 100%;
    }
    .FormStyle > button, .FormStyle > a > button {
        margin-top: 1.5em;
        width: 100%;
        padding: 1em;
        font-weight: 700;
        font-size: 1.1rem;
        background-color: var(--blueli-color);
        color: var(--white-color);
        border: 1px solid var(--greyli-color);
        cursor: pointer;
    }