/* input parent */
.InputParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2em 6% 2em 6%;
    border: 1px solid var(--greyli-color);
    overflow: hidden;
}
    /* header text */
    .InputParent > h1 {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--appmain-color);
    }
    /* error text */
    .InputParent > h2 {
        width: 100%;
        text-align: right;
        margin-top: 0.5em;
        color: var(--red-color);
    }

    /* input */
    .InputParent input, .InputParent textarea, .InputParent select {
        width: 100%;
        padding: 0.5em;
        box-sizing: border-box;
        font-size: 1.2rem;
        border: 1px solid var(--greyli-color);
        font-family: 'Roboto', sans-serif;
        resize: none;
        background: none;
    }
    /* textarea */
    .InputParent textarea {
        padding-bottom: 2em;
    }
        /* remove default focus style */
        .InputParent input:focus, .InputParent textarea:focus {
            outline: none !important;
            border: 1px solid var(--blueli-color);
        }
    /* style for label */
    .InputParent label {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        margin: 1em 0 0.5em 0;
    }
        /* style for label button */
        .InputParent label img {
            height: 25px;
            width: 25px;
            cursor: pointer;
        }
    /* style for input image */
    .InputImage {
        height: 100%;
        width: clamp(100px, 60%, 300px);
        aspect-ratio: 1 / 1;
        margin: 2em 0 2em 0;
        border: 2px solid var(--black-color);
        object-fit: cover;
    }
/* input dynamic conatiner */
.InputParentDynamic {
    display: flex;
    flex-direction: column;
    width: 100%;
}
    /* error text */
    .InputParentDynamic > h2, .InputParentDynamic > div > h2 {
        align-self: flex-start;
        margin-top: 0.5em;
        color: var(--red-color);
    }
/* multiple input conatiner */
.InputMultipleContainer {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    padding-bottom: 1em;
    box-sizing: border-box;
    border: 1px solid var(--greyli-color);
    background-color: var(--white-color);
}
/* review input parent */
.InputReviewParent {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    gap: 0.2em;
    width: 100%;
}
    /* header 1 */
    .InputReviewParent > h1 {
        margin-top: 1em;
        font-weight: 700;
        font-size: 2rem;
        color: var(--black-color);
    }
    /* header 2 */
    .InputReviewParent > h2 {
        font-weight: 700;
        font-size: 1.5rem;
        color: var(--greymed-color);
    }
    /* header 3 */
    .InputReviewParent > h3 {
        color: var(--black-color);
    }
    /* recipe image */
    .InputReviewParent > img {
        height: 100%;
        width: clamp(50px, 50%, 200px);
        aspect-ratio: 1 / 1;
        border: 2px solid var(--black-color);
    }
/* review input container row (tags) */
.InputReviewContainerRow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1em;
    padding: 1em 0 1em 0;
    overflow: hidden;
}
    .InputReviewContainerRow > h2 {
        border-radius: 6px;
        padding: 0.5em;
        font-weight: 700;
        color: var(--white-color);
        background-color: var(--appmainli-color);
        overflow-wrap: break-word;
    }
/* review input container row (tags) */
.InputReviewContainerCol {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
    padding: 0.5em;
    box-sizing: border-box;
    border: 1px solid var(--greyli-color);
    overflow: hidden;
}
    .InputReviewContainerCol > h2 {
        overflow-wrap: break-word;
    }

/* buttons */
.AddInputButton {
    align-self: flex-end;
    margin-top: 1em;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 6px;
    font-weight: 700;
    font-size: 0.9rem;
    color: var(--white-color);
    background-color: var(--blueli-color);
}
.SaveButton {
    margin-top: 2em;
    width: 100%;
    padding: 1em;
    font-weight: 700;
    font-size: 1rem;
    color: var(--white-color);
    background-color: var(--appmain-color);
}
.SaveErrorButton {
    margin-top: 2em;
    width: 100%;
    padding: 1em;
    font-weight: 700;
    font-size: 1rem;
    color: var(--white-color);
    background-color: var(--red-color);
}
.SaveSuccessButton {
    margin-top: 2em;
    width: 100%;
    padding: 1em;
    font-weight: 700;
    font-size: 1rem;
    color: var(--white-color);
    background-color: var(--blueli-color);
}