/* input parent */
.InputParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2em 6% 2em 6%;
    border: 1px solid var(--greymed-color);
    overflow: hidden;
}
    /* error text */
    .InputParent > h2 {
        align-self: flex-end;
        margin-top: 0.5em;
        color: var(--red-color);
    }
    /* input */
    .InputParent input, .InputParent textarea, .InputParent select {
        width: 100%;
        padding: 0.5em;
        box-sizing: border-box;
        font-size: 1.2rem;
        border: 1px solid var(--greyli-color);
        font-family: 'Roboto', sans-serif;
        resize: none;
        background: none;
    }
    /* textarea */
    .InputParent textarea {
        padding-bottom: 2em;
    }
        /* remove default focus style */
        .InputParent input:focus, .InputParent textarea:focus {
            outline: none !important;
            border: 1px solid var(--blueli-color);
        }

/* input label conatiner */
.InputLabelContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin: 1em 0 0.5em 0;
}

/* buttons */
.SaveButton {
    margin-top: 2em;
    width: 100%;
    padding: 1em;
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--white-color);
    background-color: var(--appmain-color);
}
.SaveErrorButton {
    margin-top: 2em;
    width: 100%;
    padding: 1em;
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--white-color);
    background-color: var(--red-color);
}
.SaveSuccessButton {
    margin-top: 2em;
    width: 100%;
    padding: 1em;
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--white-color);
    background-color: var(--blueli-color);
}