/* desktop navbar parent */
.DesktopNavbarParent {
    position: fixed;
    display: flex;
    align-items: center;
    gap: 1em;
    width: 100%;
    padding: 0.5em 5% 0.5em 5%;
    box-sizing: border-box;
    box-shadow: 0 0 0.3em var(--greydark-color);
    background-color: var(--appmain-color);
    z-index: 90;
}
    .DesktopNavbarParent > a:first-child > img {
        height: 100%;
        width: 130px;
    }
/* desktop navbar child */
.DesktopNavbarParent > div {
    display: flex;
    align-items: center;
    gap: 2em;
    width: 100%;
    padding-left: 2em;
    background-color: var(--appmain-color);
}
    /* Links */
    .DesktopNavbarParent > div > a {
        font-size: 1.1rem;
        font-weight: 700;
        color: var(--white-color);
        cursor: pointer;
    }
    /* buttons */
    .DesktopNavbarParent > div > button {
        margin-left: auto;
        padding: 0.5em 1em 0.5em 1em;
        border-radius: 10px;
        font-size: 1rem;
        font-weight: 700;
        color: var(--appmain-color);
        background-color: var(--white-color);
        cursor: pointer;
    }
/* mobile navbar parent */
.MobileNavbarParent {
    position: fixed;
    display: none;
    align-items: center;
    gap: 2em;
    width: 100%;
    padding: 0.5em 1em 0.5em 1em;
    box-sizing: border-box;
    box-shadow: 0 0 0.3em var(--greydark-color);
    background-color: var(--appmain-color);
    z-index: 91;
}
    /* app logo link */
    .MobileNavbarParent > a:first-child {
        flex: 2;
        width: 100%;
    }
        /* app logo */
        .MobileNavbarParent > a > img {
            height: 100%;
            width: 100px;
        }
        .MobileNavbarParent > img {
            height: 25px;
            width: 25px;
            cursor: pointer;
        }
/* mobile navbar content */
.MobileNavbarContentParent {
    position: fixed;
    top: 0;
    left: -100vw;
    bottom: 0;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease-in-out;
    overflow-y: scroll;
    scrollbar-width: none;
}
    /* hide scrollbar */
    .MobileNavbarContentParent::-webkit-scrollbar {
        display: none;
    }
/* mobile navbar content */
.MobileNavbarContentChild {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    box-shadow: 0 0 0.5em var(--greydark-color);
    z-index: 90;
}
    /* user introduction container */
    .MobileNavbarContentChild > div:first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 1em;
        padding-top: 2em;
        box-sizing: border-box;
        background-color: var(--appmain-color);
    }
        /* user introduction text */
        .MobileNavbarContentChild > div > h1 {
            font-weight: 700;
            font-size: 1.4rem;
            color: var(--white-color);
            overflow: hidden;
            overflow-wrap: break-word;
        }
        /* exit button */
        .MobileNavbarContentChild > div > img {
            height: 25px;
            width: 25px;
            cursor: pointer;
        }
    /* link container*/
    .MobileNavbarContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
        min-height: 92vh;
        width: 100%;
        box-sizing: border-box;
        background-color: var(--white-color);
    }
        .MobileNavbarContent > a, .MobileNavbarContent > button, .NavDropdown > a {
            position: relative;
            display: flex;
            align-items: center;
            gap: 1.5em;
            min-height: 66px;
            width: 100%;
            padding: 0.5em 1em 0.5em 1em;
            box-sizing: border-box;
            font-weight: 700;
            font-size: 1rem;
            color: var(--black-color);
            overflow: hidden;
            z-index: 99;
        }
            /* active link */
            .MobileNavbarContent > .ActiveLink {
                color: var(--appmain-color);
                background-color: var(--whitemed-color);
            }
            /* spaced link */
            .MobileNavbarContent > .SpaceLink {
                margin-top: 10%;
                padding-top: 1em;
                border-top: 1px solid var(--greyli-color);
            }
            /* image */
            .MobileNavbarContent > a > img, .MobileNavbarContent > button > img, .NavDropdown img {
                height: 25px;
                width: 25px;
                transition: transform 0.3s ease;
            }

/* mobile navbar dropdown */
.NavDropdown {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 1em;
}

@media only screen and (max-width: 900px){
    .MobileNavbarParent {
        display: flex;
    }
    .DesktopNavbarParent {
        display: none;
    }
    .DesktopNavbarChild {
        display: none;
    }
}