/* main parent */
.HomeParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    margin-top: 3em;
    padding-bottom: 4em;
    overflow: hidden;
}
    /* headers */
    .HomeParent > h1 {
        margin-top: 2em;
        text-align: center;
        font-weight: 400;
        color: var(--black-color-med);
    }
/* recipe parent */
.RecipeParent {
    display: flex;
    flex-direction: column;
    width: clamp(200px, 100%, 1000px);
    margin-top: 2em;
    padding: 0.5em;
}
/* recipe item container */
.RecipeItemContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em 0.2em;
    margin-top: 1em;
}
    /* recipe item */
    .RecipeItem {
        display: flex;
        flex-direction: column;
        width: clamp(50px, 48%, 300px);
        padding: 0.5em;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: var(--white-color-liest);
        box-shadow: 0 0 1em var(--white-color-dark);
        cursor: pointer;
    }
        /* recipe item title */
        .RecipeItem > h1 {
            margin-top: 0.5em;
            margin-bottom: auto;
            font-weight: 700;
            font-size: 1.2rem;
            color: var(--black-color-med);
        }
        /* recipe image */
        .RecipeImage {
            height: auto;
            max-width: 100%;
            aspect-ratio: 1 / 1;
            object-fit: cover;
        }
        /* recipe creator and likes container */
        .RecipeItemInfo {
            display: flex;
            flex-direction: column;
            margin-top: 1em;
        }
            /* recipe creator text */
            .RecipeItemInfo > h1 {
                font-weight: 400;
                font-size: 1rem;
                color: var(--black-color-li);
            }
            /* recipe likes container */
            .RecipeItemInfo > div {
                align-self: flex-end;
                display: flex;
                align-items: center;
                gap: 0.5em;
            }
                /* text */
                .RecipeItemInfo > div > h1 {
                    color: var(--appmain-color-dark);
                }
                /* save icon */
                .RecipeItemInfo > div > img {
                    height: 15px;
                    width: 15px;
                }
/* banner container */
.BannerContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.5em 2em 0.5em 2em;
    background-color: var(--appmain-color-med);
}
    /* banner container img */
    .BannerContainer > img {
        height: auto;
        max-width: 70%;
        object-fit: cover;
        top: 0;
        z-index: 2;
    }
/* account container */
.AccountContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
    padding: 1em 0.5em 2em 0.5em;
    background-color: var(--appmain-color-liest);
}
    /* header */
    .AccountContainer > h1 {
        text-align: center;
        font-weight: 400;
        color: var(--black-color-dark);
    }
    /* list items */
    .AccountContainer > ul > li {
        font-weight: 700;
        font-size: 1rem;
        color: var(--black-color-dark);
    }
/* account creation container */
.AccountCreationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
    padding: 1em 0.5em 2em 0.5em;
    background-color: var(--appmain-color-liest);
}
    /* header */
    .AccountCreationContainer > h1 {
        text-align: center;
        font-weight: 400;
        color: var(--black-color-dark);
    }
    /* list items */
    .AccountCreationContainer > ul > li {
        font-weight: 700;
        font-size: 1rem;
        color: var(--black-color-dark);
    }
    /* links */
    .AccountCreationContainer > a {
        font-weight: 700;
        font-size: 1.1rem;
        color: var(--appmain-color-dark);
    }
/* explore container */
.ExploreContainer {
    display: flex;
    justify-content: center;
    gap: 0.2em;
    width: clamp(200px, 100%, 600px);
    margin-top: 1em;
}
    /* explore container items */
    .ExploreItemParent {
        flex: 1;
        text-align: center;
        padding: 2em;
        cursor: pointer;
    }
    /* breakfast */
    .ExploreItemParent:first-child {
        text-align: center;
        padding: 2em;
        background-color: rgb(253, 216, 134);
    }
    /* lunch */
    .ExploreItemParent:nth-child(2n) {
        text-align: center;
        padding: 2em;
        background-color: rgb(188, 253, 134);
    }
    /* dinner */
    .ExploreItemParent:last-child {
        text-align: center;
        padding: 2em;
        background-color: rgb(241, 134, 253);
    }
/* explore tag container */
.ExploreTagContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
    width: clamp(200px, 100%, 600px);
    margin-top: 1em;
    padding: 0.3em;
}
    /* explore tag items */
    .ExploreTagItemParent {
        flex: 1;
        text-align: center;
        padding: 2em;
        cursor: pointer;
    }
        /* tags */
        .ExploreTagItemParent {
            text-align: center;
            padding: 2em;
            background-color: var(--appmain-color-liest);
        }