/* main parent */
.MyRecipesParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2.8em;
}
/* dashboard parent */
.MyRecipesDashboardParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1.5em 0 2em 0;
    background-color: var(--appmain-color-med);
}
    /* dashboard content */
    .MyRecipesDashboardContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        width: clamp(200px, 100%, 800px);
        padding: 1em;
    }
        /* dashboard item */
        .MyRecipesDashboardItem {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: clamp(200px, 100%, 1200px);
            padding: 1.5em 1em 1.5em 1em;
            border-radius: 4px;
            background-color: var(--appmain-color-li);
            cursor: pointer;
        }
            /* dashboard text container */
            .MyRecipesDashboardItem > div > h1 {
                font-size: 1.3rem;
                color: var(--appmain-color-dark);
            }
                .MyRecipesDashboardItem > div > h2 {
                    font-weight: 400;
                    color: var(--appmain-color-dark);
                }
            /* dashboard plus img */
            .MyRecipesDashboardItem > img {
                height: 30px;
                width: 30px;
            }
/* content parent */
.MyRecipesContentParent {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: clamp(200px, 100%, 800px);
    padding: 1em 0 2em 0;
}
    /* loading svg */
    .MyRecipesContentParent > svg {
        align-self: center;
        margin-top: 1em;
    }
    /* my recipe content item */
    .MyRecipesContentItem {
        display: flex;
        flex-direction: column;
        background-color: var(--white-color-liest);
    }
    /* My Recipe Row */
    .MyRecipesRow {
        display: flex;
        gap: 1em;
        padding: 0.5em;
    }
        /* My Recipe Row text */
        .MyRecipesRow > h1 {
            font-weight: 400;
            font-size: 1.1rem;
            color: var(--black-color-med);
            overflow: hidden;
        }
        /* my recipe content recipe img */
        .MyRecipesContentRecipeImage {
            height: auto;
            max-width: 100%;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            border-radius: 4px;
        }
    /* My Recipe Row button */
    .MyRecipesRowButtons {
        display: flex;
        padding-top: 1em;
    }
        /* My Recipe Row button container */
        .MyRecipesRowButtons > div {
            flex: 1;
            display: flex;
            justify-content: center;
            padding: 0.5em;
            cursor: pointer;
        }
            /* first button container */
            .MyRecipesRowButtons > div {
                background-color: var(--white-color-med);
            }
            /* last button container */
            .MyRecipesRowButtons > div:last-child {
                background-color: var(--red-color-li);
            }
                /* icon */
                .MyRecipesRowButtons > div:last-child > img {
                    transform: rotate(45deg);
                }