/* recipe parent */
.RecipeParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
/* recipe not found parent */
.RecipeNotFoundParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    padding-top: 6em;
    min-height: 50vh;
    width: 100%;
    background-color: var(--appmain-color-med);
}
    /* header */
    .RecipeNotFoundParent > h1 {
        text-align: center;
        font-size: 1.6rem;
        color: var(--white-color-liest);
    }
    /* recipe link parent */
    .RecipeNotFoundLink {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 50vh;
        width: 100%;
        padding: 1em;
        padding-top: 2em;
        background-color: var(--white-color-liest);
    }
        /* recipe link text */
        .RecipeNotFoundLink > h1 {
            text-align: center;
            font-size: 1.2rem;
            color: var(--black-color-med);
        }
        /* recipe link text */
        .RecipeNotFoundLink > a {
            margin-top: 1em;
            padding: 0.5em 2em 0.5em 2em;
            border-radius: 4px;
            font-weight: 700;
            font-size: 1.2rem;
            color: var(--white-color-liest);
            background-color: var(--appmain-color-med);
        }
/* recipe content parent */
.RecipeContentParent {
    display: flex;
    flex-direction: column;
    width: clamp(200px, 100%, 1200px);
    padding-bottom: 4em;
    background-color: var(--white-color-liest);
}
/* recipe title card */
.RecipeTitleCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 8em 1em 2em 1em;
}
    /* title */
    .RecipeTitleCard > h1 {
        font-weight: 700;
        font-size: 1.5rem;
        color: var(--black-color-med);
    }
    /* course */
    .RecipeTitleCard > h2 {
        margin-bottom: 1em;
        font-weight: 400;
        font-size: 1.3rem;
        color: var(--black-color-li);
    }
    /* recipe creator */
    .RecipeTitleCard > h3 {
        font-weight: 400;
        font-size: 1rem;
        color: var(--black-color-dark);
    }
    /* recipe source */
    .RecipeTitleCard > h4 {
        margin-top: 2em;
        font-weight: 400;
        font-size: 0.9rem;
        color: var(--black-color-li);
    }
        .RecipeTitleCard > h4 > span {
            text-decoration: underline;
            color: var(--blue-color-med);
        }
/* recipe tags container */
.RecipeTagsParent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em 8% 1em 8%;
}    
    /* recipe tags text */
    .RecipeTagsParent > h1 {
        padding: 0.5em 1em 0.5em 1em;
        border-radius: 4px;
        color: var(--white-color-liest);
        background-color: var(--appmain-color-med);
    }  
/* recipe image parent */
.RecipeImageParent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
}
    /* background image */
    .RecipeImageBackground {
        height: auto;
        max-height: 400px;
        width: 100%;
        object-fit: cover;
        filter: opacity(50%) brightness(70%);
        z-index: 1;
    }
        /* background image */
        .RecipeImageForeground {
            position: absolute;
            height: auto;
            max-width: 100%;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            top: 0;
            z-index: 2;
        }
/* recipe description container */
.RecipeDescription {
    padding: 2em 15% 2em 15%;
    color: var(--black-color-dark);
    background-color: var(--white-color-med);
}
/* recipe social buttons parent */
.RecipeSocialButtons {
    display: flex;
    justify-content: space-evenly;
}
    /* recipe social buttons divs */
    .RecipeSocialButtons > div {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        padding: 1em;
        border: 1px solid var(--white-color-med);
        cursor: pointer;
    }
        /* recipe social buttons icons */
        .RecipeSocialButtons > div > img {
            height: 25px;
            width: 25px;
        }
        /* recipe social buttons text */
        .RecipeSocialButtons > div > h1 {
            font-size: 1.1rem;
            color: var(--black-color-med);
        }
    /* saved recipe button */
    .SaveRecipeButtonSaved {
        background-color: var(--appmain-color-med);
    }

/* recipe ingredients parent */
.RecipeIngredientsParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 2em 8% 1em 8%;
}
    /* recipe ingredients headers */
    .RecipeIngredientsParent > h1 {
        width: 100%;
        margin-bottom: 1em;
        padding: 0.5em 0.2em 0.5em 0.2em;
        font-size: 1.3rem;
        color: var(--black-color-dark);
        border-bottom: 3px solid var(--white-color-dark);
    }
    /* recipe ingredients text */
    .RecipeIngredientsParent > h2 {
        align-self: flex-start;
        font-weight: 400;
        color: var(--black-color-med);
    }
    /* recipe spice text */
    .RecipeIngredientsParent > h3 {
        align-self: flex-start;
        width: 100%;
        margin-top: 1em;
        padding: 0.5em 0.2em 0.5em 0.2em;
        font-weight: 700;
        font-size: 1.1rem;
        color: var(--black-color-med);
        border-bottom: 1px solid var(--white-color-dark);
    }
/* Add list items button */
.AddListItemsContainer {
    align-self: start;
    display: flex;
    align-items: center;
    gap: 0.5em;
    width: fit-content;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 4px;
    background-color: var(--appmain-color-med);
    cursor: pointer;
}
    /* text */
    .AddListItemsContainer > h1 {
        font-size: 1.1rem;
        color: var(--white-color-liest);
    }
    /* icon */
    .AddListItemsContainer > img {
        height: 20px;
        width: 20px;
    }
/* recipe instructions parent */
.RecipeInstructionsParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin-top: 2em;
    padding: 1em 8% 1em 8%;
}
    /* recipe instructions headers */
    .RecipeInstructionsParent > h1 {
        width: 100%;
        margin-bottom: 1em;
        padding: 0.5em 0.2em 0.5em 0.2em;
        font-size: 1.3rem;
        color: var(--black-color-dark);
        border-bottom: 3px solid var(--white-color-dark);
    }
    /* recipe instructions text */
    .RecipeInstructionsParent > h2 {
        align-self: flex-start;
        font-weight: 400;
        color: var(--black-color-med);
    }
        /* recipe instructions span text  */
        .RecipeInstructionsParent > h2 > span {
            align-self: flex-start;
            margin-right: 1em;
            font-weight: 700;
            font-size: 1.2rem;
            color: var(--black-color-dark);
        }

/* div button */
.DivButton {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-top: 1em;
    padding: 0.5em 2em 0.5em 2em;
    border-radius: 4px;
    color: var(--white-color-liest);
    background-color: var(--appmain-color-med);
    cursor: pointer;
}
    /* icon */
    .DivButton > img {
        height: 20px;
        width: 20px;
    }