/* content parent */
.SettingsContentParent {
    width: clamp(200px, 100%, 1000px);
    margin: 0 auto 0 auto;
}
    /* header container */
    .SettingsHeaderContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4.5em 0 1em 0;
        background-color: var(--white-color-liest);
    }
        /* header container text */
        .SettingsHeaderContainer > h1 {
            font-size: 1.3rem;
            color: var(--black-color-med);
        }
    /* item container */
    .SettingsItem {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        padding: 1em;
        border-top: 1px solid var(--white-color-dark);
        background-color: var(--white-color-liest);
    }
        /* last item container */
        .SettingsItem:last-child {
            border-bottom: 1px solid var(--white-color-dark);
        }
        /* item container label */
        .SettingsItem > h1 {
            font-weight: 400;
            color: var(--black-color-li)
        }
        /* item container text */
        .SettingsItem > h2 {
            font-weight: 400;
            color: var(--black-color-dark)
        }
        /* item container icon */
        .SettingsItem > img {
            height: 25px;
            width: 25px;
            margin-left: auto;
            cursor: pointer;
        }