/* list parent */
.ListParent {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* list content parent */
.ListContentParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5em;
    padding: 4em 1em 2em 1em;
    background-color: var(--appmain-color-med);
}
/* list action button parent */
.ListActionButtonsParent {
    display: flex;
    justify-content: space-between;
    width: clamp(100px, 100%, 800px);
    padding: 0.5em;
}
    /* button div */
    .ListActionButtonsParent > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5em;
        padding: 0.5em;
        border: 1px solid var(--black-color-li);
        border-radius: 4px;
        cursor: pointer;
    }
        /* button div text */
        .ListActionButtonsParent > div > h1 {
            font-weight: 400;
            font-size: 0.9rem;
            color: var(--appmain-color-dark);
        }
        /* button div icon */
        .ListActionButtonsParent > div > img {
            height: 20px;
            width: 20px;
        }
        /* button delete div icon */
        .ListActionButtonsParent > div:first-child > img {
            transform: rotate(45deg);
        }

/* list input parent */
.FormParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: clamp(100px, 100%, 600px);
}
    /* form input error */
    .FormInputError {
        align-self: flex-start;
        margin-bottom: 0.5em;
        padding: 0.5em;
        font-size: 0.9rem;
        color: var(--red-color-med);
        background-color: var(--white-color-liest);
    } 
    /* item input */
    .InputItem {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0.3em;
        border-radius: 4px;
        border: 1px solid var(--white-color-dark);
        color: var(--black-color-li);
        background-color: var(--white-color-li);
    }
        /* item input text box */
        .InputItem > input {
            width: 100%;
            padding: 0.2em;
            background: none;
            border: 0;
            outline: none !important;
        }
        /* item add button */
        .InputItem > button {
            background: none;
            border: 0;
            cursor: pointer;
        }
    /* category input */
    .InputCategory {
        padding: 0.3em;
        border-radius: 4px;
        border: 1px solid var(--white-color-dark);
        color: var(--black-color-li);
        background-color: var(--white-color-li);
    }
        /* item input text box */
        .InputCategory > select {
            width: 100%;
            padding: 0.2em;
            background: none;
            border: 0;
            outline: none !important;
        }
    .ListInputParent > select {
        padding: 0.5em;
        border-radius: 4px;
        border: 1px solid var(--white-color-dark);
        color: var(--black-color-li);
        background-color: var(--white-color-li);
    }
/* No Items container */
.ListNoItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: clamp(200px, 100%, 800px);
    margin-top: 2em;
    padding: 0.5em;
}
    /* No Items container image */
    .ListNoItems > img {
        max-width: 100%;
        border-radius: 10px;
    }
    /* No Items container text */
    .ListNoItems > h1 {
        font-weight: 700;
        font-size: 1.3rem;
        color: var(--black-color-li);
    }
/* list items container */
.ListItemContainer {
    display: flex;
    flex-direction: column;
    width: clamp(200px, 100%, 800px);
    padding: 0.5em;
}
    /* list item parent */
    .ListItemParent {
        display: flex;
        flex-direction: column;
    }
        /* list item parent categories */
        .ListItemParent > h1 {
            margin: 1em 0 0.5em 0;
            font-weight: 700;
            font-size: 1.3rem;
            color: var(--appmain-color-dark);
        }
    /* list item */
    .ListItem {
        display: flex;
        align-items: center;
        padding: 0.5em 0 0.5em 0;
    }
        /* list item edit text */
        .ListItem > h1 {
            font-weight: 400;
        }
        /* list item edit icon */
        .ListItem > img {
            height: 25px;
            width: 25px;
            margin-left: auto;
            cursor: pointer;
        }